probe -u $root --set=rootuuid
set imgdevpath="/dev/disk/by-uuid/$rootuuid"

insmod search_fs_uuid
search --no-floppy 

# --set=isopart --fs-uuid 123-456

if loadfont $prefix/font.pf2 ; then
  set gfxmode=800x600
  set gfxpayload=keep
  insmod efi_gop
  insmod efi_uga
  insmod video_bochs
  insmod video_cirrus
  insmod gfxterm
  insmod png
  terminal_output gfxterm
fi

if background_image /isolinux/splash.png; then
  set color_normal=light-gray/black
  set color_highlight=white/black
elif background_image /splash.png; then
  set color_normal=light-gray/black
  set color_highlight=white/black
else
  set menu_color_normal=cyan/blue
  set menu_color_highlight=white/blue
fi

insmod play
play 960 440 1 0 4 440 1
menuentry "Debian custom ISO: EFI/UEFI" {
    
    set isofile='/tftp/debian-installer/amd64/debian-custom.iso'
    loopback loop $isofile
    linux (loop)/live/vmlinuz img_dev=$imgdevpath img_loop=$isofile earlymodules=loop 
    initrd (loop)/live/initrd
}
